// Import Nib
@import 'nib/index'

// Demo: Replace below this line, with your project styles

html
	font-family "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size 15px
	background-color #CDD4DC
	color #333

body
	padding 20px

h1
	font-size 30px

.nav {

	clearfix()
	padding 0
    margin-bottom 20px
    display inline-block
    
    > li {
        
    	float left
    	list-style none

        > a {
            background-color #2685F2
            color #fff
            border-left 1px solid #fff
            padding 10px 15px
        }

        &:first-child > a {
            border-left none
        }

        &.current > a {
            background-color #00E
        }
    }
}

.btn {
	font-size 15px
    background-color #2685F2
    padding 10px 15px
    display inline-block
    margin-top 5px
    color #fff
    text-decoration none
}